.jumbotron {
    margin-top: -59px;
    color: white;
    height: 390px;
    background: rgb(255,164,0);
    background: linear-gradient(0deg, rgba(255,164,0,1) 0%, rgba(255,139,0,1) 100%);
}

.jumbotron img {
    width: 190px;
    float: right;
    margin-right: 60px;
    transition: 0.9;
}


.svg {
    margin-top: -60px;
}

.navbar {
    background-color: rgba(255,139,0,1);
}

.k-text-mini {
    font-size: 20px;
}

.waves {
    margin-top: -100px;
}

.kelebihan {
    background-color: #ff5500;
    color: white;
    height: 280px;
}

.m-img {
    width: 399px;
}

.m-judul {
    float: left;
}

.m-text {
    font-size: 20px;
}

.textm {
    margin-top: -340px;
}

.waves2 {
    margin-top: -10px;
}

.play {
    width: 190px;
}

footer {
    background: rgb(255, 115, 0);
    height: auto;
    width: 100vw;
    font-family: 'open sans',sans-serif;
    padding-top: 40px;
    color: white;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14;
}

.social {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;

}

.social li {
    margin-right: 10px;
}

footer a {
    margin-right: 17px;
    color: white;
}


@media screen and (max-width: 990px) {
    .textm {
        margin-top: 50px !important;
    }

    .m-img {
        margin-left: 10px;
    }
}

@media screen and (max-width: 606px) {
    .jumbotron img {
       display: none;
    }


    .svg {
        margin-top: -50px;
    }

    .textm {
        margin-top: 195px;
    }

    .m-img {
        width: 390px;
        margin-left: -40px;
    }
}